<h1 class="text-3xl">Rate Limits Demo</h1>

<div class="card flex flex-col gap">
  <p>You have made <%= count %> requests.</p>
  <%= button_to "Increment counter", nil, class: "btn" %>
  <%= button_to "Reset counter", nil, class: "btn", params: {reset: true} %>
</div>
