<h1 class="text-3xl">CSS Zero Showcase</h1>

<div class="prose">
  <p>This page is a showcase of the CSS Zero library. It's a CSS library that removes all of the styles from your HTML and replaces them with CSS variables.</p>

  <p>The library is a great way to reduce the size of your CSS and make it easier to maintain. It also helps to keep your styles consistent across your application.</p>

  <p>To use the library, you'll need to include the CSS file in your application. You can do this by adding the following line to your <code>app/assets/stylesheets/application.css</code> file:</p>

  <pre><code class="language-css">/* app/assets/stylesheets/application.css */
@import "css_zero";</code></pre>

  <p>Once you've included the CSS file, you can start using the CSS Zero library in your application. Here's an example of how to use the <code>text-color</code> variable:</p>

  <pre><code class="language-html">&lt;h1 class="text-3xl text-color"&gt;Hello, world!&lt;/h1&gt;</code></pre>
</div>
